.btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    width: 167px;
    height: 40px;
    border: 1px solid #50ACF9;
    background-color: #50ACF9;
    border-radius: 7px;
}
