<div class="container" [style.padding]="pagePadding">
    <img class="logo-icon" src="assets/logo.svg" [style.width]="logoWidth">
    <div class="content" [style.padding]="contentPadding">
        <div class="text">
            <p>You can start <span [style]="blueText">start creating an optional</span> by clicking the left button.</p>
            <p>Sending the optionals is not a reversable action. Once you send the optionals, you can't change you mind. </p>
            <p>You can add <span [style]="blueText">at most 2 optionals</span>.</p>
        </div>
        <app-table [headers]="headers" [objectsFromDb]="tableData" [hasCheckbox]="false" [hasAction]="true" [hasSee]="false" [hasDelete]="true" [hasUpdate]="true"></app-table>
        <div class="buttons">
            <app-button #addOptionalBtn mat-button text="Add Optional" 
                (click)="openDialog('Add', {})" 
            ></app-button>
            <app-button class="right-button" mat-button text="Send Optionals" (click)="sendOptionals()" ></app-button>
        </div>
    </div>

</div>