<div class="container" [style.padding]="pagePadding">
    <img class="logo-icon" src="assets/logo.svg" [style.width]="logoWidth">
    <div class="content" [style.padding]="contentPadding">
        <p>Our university, as a personal data controller, takes appropriate measures to ensure the <span [style]="blueText">
          protection of your personal data</span> in accordance with Regulation (EU) 679/2016 of the European Parliament
          and that of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of
          personal data and on the free movement of such data (GDPR).</p>
      <p>Fur further information about the protection of personal data, please see out website.</p>
      <p>Good luck with your studies!</p>
    </div>

</div>
