.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-dialog-content{
    width: 100%;
    align-items: center;
}

.mat-form-field{
    width: 100%;
}
