.table-container {
}

table{
    border-spacing:0;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

th{
    background-color: #D5DBDF;
    border: 1px solid black;
    padding: 0 !important;
}

th.mat-header-cell {
    text-align: center;
}
  
tr{
    border: 1px inset #B9B9B9;
    justify-content: center;
}

td{
    border-right: 1px inset #B9B9B9;
    padding: 0 !important;
}

tr:last-child{
    border:none;
}

