<div class="table-container">
    <table mat-table #mytable [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container *ngIf="hasCheckbox" matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
        </ng-container>

        <!-- OBJECT HEADERS -->
        <ng-container *ngFor="let disCol of displayColumns; let colIndex = index" matColumnDef="{{disCol}}">
            <th mat-header-cell *matHeaderCellDef>{{disCol}} </th>
            <td mat-cell *matCellDef="let element "> {{element[disCol]}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container *ngIf="hasAction" matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link"> 
                <a *ngIf="hasUpdate" (click)="openDialog('Update',element)">| Update |</a>
                <a *ngIf="hasSee" (click)="openDialog('See',element)">| See |</a> 
                <a *ngIf="hasDelete" (click)="openDialog('Delete',element)">| Delete |</a>  
                <a *ngIf="hasMaximum" (click)="openDialogMaxStudents('SetMaxStudents',element)">| Set max |</a>  
                <a *ngIf="hasGrade" (click)="openDialogMaxStudents('SetGrade',element)">| Set grade |</a>  
            </td>
        </ng-container>

        <!-- ROWS-->
        <tr mat-header-row *matHeaderRowDef="headers"></tr>
        <tr mat-row *matRowDef="let row; columns: headers;"
        (click)="selection.toggle(row);"></tr>

        
    </table>

    <mat-paginator 
                [pageSize]="pageSize"
                showFirstLastButtons 
                aria-label="Select page">
    </mat-paginator>
</div>